<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ocelot.scaffold.framework.mapper.UserMapper">

    <sql id="insertVals"> #{newUser.name}, #{newUser.status, typeHandler=com.ocelot.scaffold.framework.type.IntEnumTypeHandler} </sql>

    <resultMap id="user" type="com.ocelot.scaffold.framework.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <!-- IntEnumTypeHandler如果放置在spring配置文件中,会抛出无法找到构造函数的异常 -->
        <result property="status" column="status" typeHandler="com.ocelot.scaffold.framework.type.IntEnumTypeHandler" />
    </resultMap>

    <select id="getUser" resultMap="user">
        select id, name, status from user
        where id = #{userId}
    </select>

    <insert id="createUser" parameterType="com.ocelot.scaffold.framework.entity.User" useGeneratedKeys="true" keyProperty="newUser.id">
        <!--<selectKey keyProperty="id" resultType="int" order="AFTER">-->
            <!--select LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into user (name, status) values ( <include refid="insertVals" /> )
    </insert>
</mapper>