<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ocelot.scaffold.framework.mapper.UserMapper">

    <sql id="selectCols"> id, name, status, createdate, money  </sql>

    <sql id="insertCols"> name, status, createdate, money</sql>

    <sql id="insertVals"> #{newUser.name}, #{newUser.status, typeHandler=com.ocelot.scaffold.framework.mybatis.enumtype.IntEnumTypeHandler},
        #{newUser.createDate}, #{newUser.money} </sql>

    <resultMap id="user" type="com.ocelot.scaffold.framework.entity.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <!-- IntEnumTypeHandler如果放置在spring配置文件中,会抛出无法找到构造函数的异常 -->
        <result property="status" column="status" typeHandler="com.ocelot.scaffold.framework.mybatis.enumtype.IntEnumTypeHandler" />
        <result property="createDate" column="createdate" />
        <result property="money" column="money" />
    </resultMap>

    <resultMap id="userView" type="com.ocelot.scaffold.framework.entity.view.UserView">
        <id column=""
    </resultMap>

    <select id="getUser" resultMap="user">
        select <include refid="selectCols" /> from user
        where id = #{userId}
    </select>

    <insert id="createUser" parameterType="com.ocelot.scaffold.framework.entity.User" useGeneratedKeys="true" keyProperty="newUser.id">
        <!--<selectKey keyProperty="id" resultType="int" order="AFTER">-->
            <!--select LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into user (<include refid="insertCols" /> ) values ( <include refid="insertVals" /> )
    </insert>

    <select id="getUserView" resultMap="userView">
        select
    </select>
</mapper>